#search{
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
	margin-right:2em;
}

#search:hover {
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}

#search:active {
	position:relative;
	top:1px;
}

#addressSearch,#foodSearch{
	font-size:16px;
}

#map-div{
	margin: 0;
	padding: 0;
	width:542px;
	height:300px;
	position: absolute;
	border:1px solid black;
}

#map-container{
	position: relative;
}

#loading-spinner{
    position: absolute;
    width:100px;
    height:100px;
    margin-left: 221px;
    margin-top: 100px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    float:left;
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);

    -webkit-animation-name: rotateThis;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    z-index: 1;
}
#loading-spinner div{
    width:20px;
    height:20px;
    background:#000;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    position:absolute;
    left:40px;
    top:40px;
}
#loading-spinner .circle1 {
    -moz-transform:rotate(0deg)   translate(0, -40px) scale(0.1);
    -webkit-transform:rotate(0deg)   translate(0, -40px) scale(0.1);opacity:0.12;}
#loading-spinner .circle2 {
    -moz-transform:rotate(45deg)  translate(0, -40px) scale(0.2);
    -webkit-transform:rotate(45deg)  translate(0, -40px) scale(0.2);opacity:0.25;}
#loading-spinner .circle3 {
    -moz-transform:rotate(90deg)  translate(0, -40px) scale(0.4);
    -webkit-transform:rotate(90deg)  translate(0, -40px) scale(0.4);opacity:0.37;}
#loading-spinner .circle4 {
    -moz-transform:rotate(135deg) translate(0, -40px) scale(0.6);
    -webkit-transform:rotate(135deg) translate(0, -40px) scale(0.6);opacity:0.50;}
#loading-spinner .circle5 {
    -moz-transform:rotate(180deg) translate(0, -40px) scale(0.8);
    -webkit-transform:rotate(180deg) translate(0, -40px) scale(0.8);opacity:0.62;}
#loading-spinner .circle6 {
    -moz-transform:rotate(225deg) translate(0, -40px) scale(1);
    -webkit-transform:rotate(225deg) translate(0, -40px) scale(1);opacity:0.75;}
#loading-spinner .circle7 {
    -moz-transform:rotate(270deg) translate(0, -40px) scale(1.2);
    -webkit-transform:rotate(270deg) translate(0, -40px) scale(1.2);opacity:0.87;}
#loading-spinner .circle8 {
    -moz-transform:rotate(315deg) translate(0, -40px) scale(1.4);
    -webkit-transform:rotate(315deg) translate(0, -40px) scale(1.4);opacity:1;}

#movie-content{
    position:relative;
    margin-top:310px;
}