#search, #autoAddress{
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #262626 5%, #4C4C4C 100%);
	display:inline-block;
	cursor:pointer;
	color:#E6B800;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	margin-right:2em;
}

#search:hover, #autoAddress:hover {
	background:linear-gradient(to bottom, #4C4C4C 5%, #262626 100%);
}

h1,h2,#flavor-text{
    font-family: 'Dancing Script', cursive;
}

#title{
    font-size: 50px;
}

body{
    background-color: #666666;
    color: #E6B800;
    font-family: 'Share', cursive;
    font-style: italic;
}

#search:active, #autoAddress:active {
	position:relative;
	top:1px;
}

#addressSearch,#foodSearch,#Genre{
	font-size:16px;
    background-color: #666666;
    color: #E6B800;
    font-family: 'Share', cursive;
    font-style: italic;
}

#map-div{
    color: #000000;
	padding: 0;
	width:542px;
	height:300px;
	position: absolute;
	border:1px solid black;
}
marker

#map-container{
	position: relative;
}

#loading-spinner{
    position: relative;
    width:100px;
    height:100px;
    margin-top: 100px;
    margin-left: 222px;
    -moz-border-radius:100px;
    -webkit-border-radius:100px;
    float:left;
    -moz-transform:scale(0.5);
    -webkit-transform:scale(0.5);

    -webkit-animation-name: rotateThis;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    z-index: 1;
}
#loading-spinner div{
    width:20px;
    height:20px;
    background:#000;
    -moz-border-radius:40px;
    -webkit-border-radius:40px;
    position:absolute;
    left:40px;
    top:40px;
}
#loading-spinner .circle1 {
    -moz-transform:rotate(0deg)   translate(0, -40px) scale(0.1);
    -webkit-transform:rotate(0deg)   translate(0, -40px) scale(0.1);opacity:0.12;}
#loading-spinner .circle2 {
    -moz-transform:rotate(45deg)  translate(0, -40px) scale(0.2);
    -webkit-transform:rotate(45deg)  translate(0, -40px) scale(0.2);opacity:0.25;}
#loading-spinner .circle3 {
    -moz-transform:rotate(90deg)  translate(0, -40px) scale(0.4);
    -webkit-transform:rotate(90deg)  translate(0, -40px) scale(0.4);opacity:0.37;}
#loading-spinner .circle4 {
    -moz-transform:rotate(135deg) translate(0, -40px) scale(0.6);
    -webkit-transform:rotate(135deg) translate(0, -40px) scale(0.6);opacity:0.50;}
#loading-spinner .circle5 {
    -moz-transform:rotate(180deg) translate(0, -40px) scale(0.8);
    -webkit-transform:rotate(180deg) translate(0, -40px) scale(0.8);opacity:0.62;}
#loading-spinner .circle6 {
    -moz-transform:rotate(225deg) translate(0, -40px) scale(1);
    -webkit-transform:rotate(225deg) translate(0, -40px) scale(1);opacity:0.75;}
#loading-spinner .circle7 {
    -moz-transform:rotate(270deg) translate(0, -40px) scale(1.2);
    -webkit-transform:rotate(270deg) translate(0, -40px) scale(1.2);opacity:0.87;}
#loading-spinner .circle8 {
    -moz-transform:rotate(315deg) translate(0, -40px) scale(1.4);
    -webkit-transform:rotate(315deg) translate(0, -40px) scale(1.4);opacity:1;}


.accordion, .accordion * {
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

#info-window{
    padding: 5px 20px 20px 20px;
}

.accordion {
    margin-top:310px;
    overflow:hidden;
    box-shadow:0px 1px 3px rgba(0,0,0,0.25);
    border-radius:3px;
    background:#f7f7f7;
}
 
.accordion-section-title {
    width:100%;
    padding:15px;
    display:inline-block;
    border-bottom:1px solid #1a1a1a;
    background:#333;
    transition:all linear 0.15s;
    font-size:1.200em;
    text-shadow:0px 1px 0px #1a1a1a;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#4c4c4c;
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
}

#info-window-title, #info-window-paragraph{
    margin:0px 0px 0px 0px;
}

.accordion-section-content {
    padding:15px;
    display:none;
    background-color:#808080;
}
